.recover-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - var(--navbar-height) - var(--footer-height));
    min-height: fit-content;
}

.recover-items {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;

    button {
        flex: 1;
    }
}