<!-- Componente de recuperar contraseña -->
<div class="recover-container">
    <div class="recover-items">
        <h2>Recuperar contraseña</h2>
        <form (ngSubmit)="recuperar()">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Correo electrónico</mat-label>
                <input matInput [(ngModel)]="email" name="email" type="email" required />
            </mat-form-field>

            <div class="buttons">
                <button mat-stroked-button [routerLink]="['..']">
                    Atrás
                </button>
                <button mat-raised-button type="submit">
                    Enviar
                </button>
            </div>

        </form>
    </div>
</div>