<div class="section-vertical" *ngIf="!horizontal && (imagen || titulo || texto)" [ngClass]="{ 'reverse': !imgRight }">
    <div class="section-text-vertical" *ngIf="titulo || texto">
        <h2 *ngIf="titulo">{{ titulo }}</h2>
        <p *ngIf="texto">{{ texto }}</p>
    </div>
    <div class="section-image-vertical" *ngIf="imagen">
        <img [src]="imagen" alt="Imagen representativa" />
    </div>
</div>

<div class="section-horizontal" *ngIf="horizontal && (imagen || titulo || texto)">
    <div class="section-image-horizontal" *ngIf="imagen">
        <img [src]="imagen" alt="Imagen representativa" />
    </div>
    <div class="section-text-horizontal" *ngIf="titulo || texto">
        <h2 *ngIf="titulo">{{ titulo }}</h2>
        <p *ngIf="texto">{{ texto }}</p>
    </div>
</div>