.section-vertical {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    &.reverse {
        flex-direction: row-reverse;
    }
}

.section-text-vertical {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.section-image-vertical {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-image-vertical img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

.section-horizontal {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.section-image-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-image-horizontal img {
    max-width: 100%;
    height: auto;
}

.section-text-horizontal {
    text-align: center;
    padding: 10px;
}

h2 {
    margin: 0;
}