.error {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    color: var(--color-warn);

    h1 {
        font-size: 100px !important;
    }

    p {
        font-size: 70px !important;
        color: var(--color-primary);
    }
}