<!-- Componente de layout del gestor de imágenes -->
<h2>Gestión de imágenes</h2>
<div class="img-list-container">
    <nav class="img-list-nav">
        <a routerLink="/admin/imagenes/subir-imagen" routerLinkActive="active" class="horizontal-nav-item">
            <mat-icon>upload</mat-icon>
            Subir imágen
        </a>
        <a routerLink="/admin/imagenes/inicio" routerLinkActive="active" class="horizontal-nav-item">
            <mat-icon>home</mat-icon>
            Inicio
        </a>
        <a routerLink="/admin/imagenes/apartamento" routerLinkActive="active" class="horizontal-nav-item">
            <mat-icon>chair</mat-icon>
            Apartamento
        </a>
        <a routerLink="/admin/imagenes/galeria" routerLinkActive="active" class="horizontal-nav-item">
            <mat-icon>photo_library</mat-icon>
            Galería
        </a>
    </nav>

    <div class="img-list-content">
        <router-outlet></router-outlet>

    </div>
</div>