.upload-form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .mat-mdc-text-field-wrapper {
        width: 350px !important;
    }
}

.img-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.img-list-nav {
    display: flex;
    flex-direction: row;
}

.img-list-content {
    flex-grow: 1;
    padding: 0;
    border-top: 1px solid var(--color-tertiary);

}


@media (max-width: 768px) {

    h1,
    h2,
    h3 {
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {}

@media (max-width: 1024px) {}

@media (min-width: 1025px) {}