<!-- Componente del gestor del calendario -->
<div class="calendar">
    <div class="calendar-header">
        <button class="button" (click)="previousMonth()"><mat-icon>arrow_back</mat-icon></button>
        <div class="date">{{ viewDate | date: 'MMMM yyyy' }}</div>
        <button class="button" (click)="nextMonth()"><mat-icon>arrow_forward</mat-icon></button>
    </div>

    <mwl-calendar-month-view [viewDate]="viewDate" [weekStartsOn]="1" [locale]="'es'" [events]="events"
        [refresh]="refresh" [activeDayIsOpen]="false" [cellTemplate]="customCellTemplate"
        (beforeViewRender)="beforeMonthViewRender($event)">
    </mwl-calendar-month-view>

    <ng-template #customCellTemplate let-day="day">
        <div class="day-container" (mousedown)="startDrag(day)" (mouseover)="dragOver(day)" (mouseup)="endDrag()">
            <div class="day-number">
                {{ day.date.getDate() }}
            </div>
            <div *ngIf="day.customPrice" class="day-badge">
                {{ day.customPrice }}
            </div>
            <div *ngIf="day.customIcon" class="day-icon">
                <img [src]="day.customIcon" alt="Icon" />
            </div>
            <div *ngIf="day.customMatIcon" class="day-mat-icon">
                <mat-icon>{{ day.customMatIcon }}</mat-icon>
            </div>
        </div>
    </ng-template>

    <!-- FORMULARIO PARA APLICAR CAMBIOS -->
    <div class="edit-panel">
        <h3>Días seleccionados: {{ selectedDates.length }}</h3>

        <form (ngSubmit)="aplicarCambios()" class="form">
            <mat-form-field>
                <mat-label>Precio:</mat-label>
                <input matInput type="number" [(ngModel)]="nuevoPrecio" name="precio" min="0" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Estado</mat-label>
                <mat-select [(ngModel)]="nuevoEstado" name="estado" required>
                    <mat-option value="disponible">Disponible</mat-option>
                    <mat-option value="cerrada">Cerrada</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Cancelable</mat-label>
                <mat-select [(ngModel)]="nuevoCancelable" name="cancelable">
                    <mat-option [value]="true">Cancelable</mat-option>
                    <mat-option [value]="false">No cancelable</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="oneColumn data">
                <button mat-raised-button type="submit" class="submitButton">Aplicar cambios</button>
            </div>
        </form>
    </div>
</div>
<!--
<div class="warning">
    <div class="msg">
        <h1>Para editar el calendario, visitar la versión de escritorio.</h1>
    </div>
</div>
-->