.client-panel-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    min-height: 600px;
    margin: auto;
    transform: translateX(-55px);
}

.client-panel-content {
    flex-grow: 1;
    padding: 40px;
    border: 1px solid var(--color-neutral);
}

@media (max-width: 768px) {}

@media (min-width: 768px) and (max-width: 1024px) {}

@media (max-width: 1024px) {
    .client-panel-container {
        width: 100vw;
        margin: auto;
        transform: none;
    }

    .client-panel-content {
        width: calc(100vw - 80px);
        padding: 0 !important;

    }
}

@media (min-width: 1024px) {}