<!-- Componente del layout del gestor de textos -->
<h2>Gestión de textos</h2>
<div class="content-manager-container">
    <nav class="content-manager-nav">
        <a routerLink="/admin/textos/inicio" routerLinkActive="active" class="horizontal-nav-item">
            <mat-icon>home</mat-icon>
            Inicio
        </a>
        <a routerLink="/admin/textos/apartamento" routerLinkActive="active" class="horizontal-nav-item">
            <mat-icon>chair</mat-icon>
            Apartamento
        </a>
        <a routerLink="/admin/textos/localizacion" routerLinkActive="active" class="horizontal-nav-item">
            <mat-icon>location_on</mat-icon>
            Localización
        </a>
        <a routerLink="/admin/textos/contacto" routerLinkActive="active" class="horizontal-nav-item">
            <mat-icon>mail</mat-icon>
            Contacto
        </a>
        <a routerLink="/admin/textos/legal" routerLinkActive="active" class="horizontal-nav-item">
            <mat-icon>balance</mat-icon>
            Legal
        </a>
    </nav>

    <div class="content-manager-content">
        <router-outlet></router-outlet>
    </div>
</div>