<div class="grid-overlay">
    <div class="grid-title">
        <h1>EL APARTAMENTO</h1>
    </div>

    <div class="grid-text">
        <p>Situado en la zona suroeste de Torremolinos, junto al Parque La Batería, nuestro
            apartamento en planta baja cuenta con entrada independiente de la calle y acceso directo a la piscina.
        </p>
        <p>
            Es un lugar único, donde se combinan la tranquilidad del descanso y la comodidad.
            Un paraíso a descubrir entre Málaga y Marbella en la Costa del Sol.
        </p>
        <p>Un alojamiento amplio, acogedor y confortable de 90m², que cuenta con tres dormitorios, dos baños,
            un amplio salón, comedor, cocina, y todo rodeado de un paisaje idílico.
        </p>
    </div>

    <div class="grid-image">
        <img src="assets/img/IMG_31.jpg">
    </div>

    <div class="spacer tablet-show" style="order: 2"></div>

    <div class="spacer tablet-show" style="order: 4"></div>

    <div class="tablet-hide" *ngFor="let _ of cells"></div>
</div>

