.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	background-color: var(--color-primary);
	color: var(--color-neutral);
	height: 30px;
}

.navbar-container {
	position: sticky;
	top: 0;
	display: grid;
	grid-template-columns: 1fr 0fr 1fr;
	font-family: "TTHazelnuts";
	font-weight: bold;
	background-color: var(--color-background);
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 1000;
	box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
}

.navbar-section {
	display: flex;
	align-items: end;
	margin-left: 20px;
	margin-right: 20px;
}

.right {
	justify-content: flex-start;
}

.left {
	justify-content: flex-end;
}

.center {
	justify-content: center;
	padding-bottom: 10px;
}

.center img {
	margin-bottom: 4px;
}



.nav-item {
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
}

.content-container {
	flex: 1;
}

.footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	height: 100px;
	font-weight: bold;
	background-color: var(--color-primary);
	color: var(--color-neutral);
	margin-top: 50px;
}

.footer-section {
	display: flex;
	align-items: center;
}

a {
	color: var(--color-text);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

.logo {
	max-height: 100px;
}