.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.toolbar {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	max-width: 100vw;
	padding: 5px;
	display: flex;
	justify-content: flex-end;
	align-content: start;
	color: var(--color-neutral);
	font-size: 14px;
	z-index: 101;

	gap: 30px;

	button {
		background-color: var(--color-primary);
		color: var(--color-neutral);
		border: none;
		border-radius: 25px;
		margin: 5px;
		width: 120px;
		font-weight: bold;
	}

	img {
		width: 25px;
		height: 25px;
		cursor: pointer;
	}
}

.lang {
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
}

.navbar-container {
	position: sticky;
	top: 0;
	display: grid;
	grid-template-columns: 1fr 0fr 1fr;
	font-family: "TTHazelnuts";
	font-weight: bold;
	height: var(--navbar-height);
	background-color: var(--color-header);
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 100;
	box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.2);
	align-items: center;

	// 🔸 Añadido: botón hamburguesa
	.hamburger {
		display: none;
		font-size: 40px;
		background: none;
		border: none;
		color: inherit;
		position: absolute;
		right: 15px;
		top: 15px;
		z-index: 103;
		cursor: pointer;
	}
}

.navbar-section {
	display: flex;
	align-items: end;
	margin-left: 20px;
	margin-right: 20px;
	height: 100%;
}

.right {
	justify-content: flex-start;
	min-width: 390px;
}

.left {
	justify-content: flex-end;
	min-width: 362px;
}

.center {
	justify-content: center;
	padding-bottom: 10px;
}

.center img {
	margin-bottom: 4px;
}

.nav-item {
	padding: 10px;
	padding-bottom: 7px;
	cursor: pointer;
	text-decoration: none;
	font-size: 20px;
}

.logo {
	max-height: 100px;
	cursor: pointer;
}

// 🔸 Añadido: menú móvil
.mobile-menu {
	position: fixed;
	top: var(--navbar-height);
	right: -100%;
	/* oculto inicialmente */
	width: 70%;
	/* ancho del menú desplegable */
	height: 100%;
	font-weight: bold;
	background-color: var(--color-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 102;
	transition: right 0.3s ease-in-out;
	box-shadow: -7px 0 15px rgba(0, 0, 0, 0.2);

	&.open {
		right: 0;
	}

	.nav-item {
		padding: 15px;
		font-size: 20px;
		width: 100%;
		text-align: center;
		border-top: 1px solid var(--color-neutral);
	}
}

.mat-mdc-option {
    padding: 0 !important;
    min-height: 25px !important;
}

.mat-mdc-option-active {
    display: none !important;
}

.mat-mdc-select-arrow-wrapper {
    display: none !important;
}

.mat-mdc-select {
    width: 25px !important;
}

div.mat-mdc-select-panel {
    padding: 0 !important;
}

.content-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 100%;
}

.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	align-items: center;
	justify-content: center;
	height: 100px;
	font-weight: bold;
	background-color: var(--color-primary);
	color: var(--color-neutral);
	font-size: 16px;
	padding: 6px;

	p {
		margin: 0;
	}

	a {
		color: var(--color-neutral);
		text-decoration: underline;
		cursor: pointer;
	}

	a:hover {
		text-decoration: underline;
		cursor: pointer;
	}

}

.footer-section {
	display: flex;
	align-items: center;
	text-align: center;
}

a {
	color: var(--color-text);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

@media (max-width: 768px) {}

@media (min-width: 768px) and (max-width: 1024px) {}

@media (max-width: 1024px) {

	.navbar-section.left,
	.navbar-section.right {
		display: none;
	}

	.navbar-container .hamburger {
		display: block;
		justify-content: center;
	}

	.navbar-container {
		display: flex !important;
		justify-content: center;
	}

	.right,
	.left {
		min-width: none;
	}

}

@media (min-width: 1024px) {}