<!-- Componente de la pagina de inicio, el primero que carga en el layout al entrar a la web -->
<video muted onloadedmetadata="this.muted = true" playsinline autoplay loop preload="auto" class="vid">
    <source src="assets/VIDEO_01_silent.mp4" type="video/mp4" />
</video>

<div class="vid-opacity">
    <button class="book-button" [routerLink]="['reservar']">{{ 'HOME.BOOK' | translate }}</button>
</div>

<div class="spacer"></div>

<section class="welcome-section">
    <h1>{{ 'HOME.WELCOME' | translate }} <a>M&H</a> Torremolinos</h1>
    <div class="spacer-small"></div>
    <p>{{ itemLema }}</p>
</section>

<div class="spacer"></div>

<section class="capacity-section" *ngIf="images.length >= 3">
    <div class="info side">
        <img [src]="images[0].url" alt="Cama doble">
        {{ itemCamaDoble }}
    </div>
    <div class="info center">
        <img [src]="images[1].url" alt="Cama individual">
        {{ itemCamasInd }}
    </div>
    <div class="info side">
        <img [src]="images[2].url" alt="Cuna">
        {{ itemCuna }}
    </div>
</section>

<div class="spacer-big tablet-hide"></div>
<div class="spacer-big"></div>

<section class="intro-section" *ngIf="images.length >= 5">
    <div class="intro-imgs">
        <img [src]="images[3].url" alt="Foto Intro 1" class="main">
        <img [src]="images[4].url_thumbnail" alt="Foto Intro 2" class="secondary">
    </div>
    <div class="intro-content" *ngIf="itemApartado1">
        <div class="spacer-big tablet-hide"></div>
        <h2>{{ itemApartado1.titulo }}</h2>
        <div class="spacer"></div>
        <div [innerHTML]="itemApartado1.texto"></div>

    </div>
</section>

<div class="spacer-big"></div>
<div class="spacer-big tablet-hide"></div>

<div class="points">
    <div [innerHTML]="this.itemPuntuacion"></div>
</div>

<div class="spacer-big"></div>
<div class="spacer-big tablet-hide"></div>

<app-grid-overlay [contenido]="itemApartado2" [imagen]="images[5].url" *ngIf="images.length >= 6"></app-grid-overlay>

<div class="spacer-big tablet-show"></div>

<div class="more-container">
    <button [routerLink]="['apartamento']" class="more">
        <h3>{{ 'HOME.MORE' | translate }}</h3>
    </button>
</div>

<div class="spacer-big"></div>

<div class="spacer-big"></div>