.content {
    margin-right: 22%;
    margin-left: 22%;

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

.spacer {
    width: 100%;
    height: 50px;
}

.divider {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    align-items: center;
    width: 100%;
    flex-direction: row;
}

img-text {
    min-width: 49%;
}

.empty-space {
    flex: 1;
    min-width: 49%;
    align-self: stretch;
}