<video muted onloadedmetadata="this.muted = true" playsinline autoplay loop preload="auto" class="vid">
    <source src="assets/VIDEO_01_silent.mp4" type="video/mp4" />
</video>

<div class="vid-opacity">
    <button class="book-button" [routerLink]="['reservar']">{{ 'HOME.BOOK' | translate }}</button>
</div>

<div class="spacer"></div>

<section class="welcome-section">
    <h1>{{ 'HOME.WELCOME' | translate }} <a>M&H</a> Torremolinos</h1>
    <div class="spacer-small"></div>
    <p>{{ itemLema }}</p>
</section>

<div class="spacer"></div>

<section class="capacity-section">
    <div class="info side">
        <img src="assets/icons/double-bed.png" alt="Cama doble">
        {{ itemCamaDoble }}
    </div>
    <div class="info center">
        <img src="assets/icons/bed.png" alt="Cama individual">
        {{ itemCamasInd }}
    </div>
    <div class="info side">
        <img src="assets/icons/crib.png" alt="Cuna">
        {{ itemCuna }}
    </div>
</section>

<div class="spacer-big tablet-hide"></div>
<div class="spacer-big"></div>

<section class="intro-section">
    <div class="intro-imgs">
        <img src="assets/img/IMG_28.jpg" alt="Foto Intro 1" class="main">
        <img src="assets/thumbnail/IMG_04t.jpg" alt="Foto Intro 2" class="secondary">
    </div>
    <div class="intro-content" *ngIf="itemApartado1">
        <div class="spacer-big tablet-hide"></div>
        <h2>{{ itemApartado1.titulo }}</h2>
        <div class="spacer"></div>
        <div [innerHTML]="itemApartado1.texto"></div>

    </div>
</section>

<div class="spacer-big"></div>
<div class="spacer-big tablet-hide"></div>

<div class="points">
    <h1>CON UNA PUNTUACIÓN DE<a> 9,4 </a>EN BOOKING</h1>
</div>

<div class="spacer-big"></div>
<div class="spacer-big tablet-hide"></div>

<app-grid-overlay [contenido]="itemApartado2"></app-grid-overlay>

<div class="spacer-big tablet-show"></div>

<div class="more-container">
    <button [routerLink]="['apartamento']" class="more">
        <h3>VER MÁS</h3>
    </button>
</div>

<div class="spacer-big"></div>

<div class="spacer-big"></div>