.section-vertical {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
}

.section-image {
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-image img {
    max-width: 100%;
    height: auto;
}

.section-text {
    text-align: center;
    margin-top: 20px;
    color: #007BFF;
}