.section-horizontal {
    display: flex;
    border: 2px solid black;
    padding: 20px;
}

.section-text {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #007BFF;
}

.section-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
}

.section-image img {
    max-width: 100%;
    height: auto;
}