.content-gallery {
    margin: 0 var(--desktop-margin);
}

.grid {
    display: grid;

    img {
        object-fit: cover;
        max-width: 100%;
        height: auto;
        aspect-ratio: 4 / 3;
    }
}

.p-galleria .p-galleria-nav-button {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: background-color 0.3s ease;
    transform: translateY(-20px);
}

.p-galleria .p-galleria-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;

}

.p-galleria-content {
    // Hace que las imagenes del slider del home se ajusten al tamaño de la pagina
    width: 100%;
}

img.ng-star-inserted {
    max-height: calc(80vh - var(--navbar-height));
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .content-gallery {
        margin: 0 var(--phone-margin);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .content-gallery {
        margin: 0 var(--tablet-margin);
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}