.container {
    padding-top: 50px;
}

img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.grid {
    display: grid;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        /* Para móviles, solo una columna */
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        /* Para tabletas, dos columnas */
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        /* Para escritorios, tres columnas */
    }
}


.p-galleria .p-galleria-nav-button {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: background-color 0.3s ease;
    transform: translateY(-20px);
}

.p-galleria .p-galleria-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;

}

.p-galleria-content {       // Hace que las imagenes del slider del home se ajusten al tamaño de la pagina
    width: 100%;
}