@use '@angular/material' as mat;
@import 'primeicons/primeicons.css';

// Fuente para títulos
@font-face {
    font-family: 'Gistesy';
    src: url('fonts/gistesy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Fuente para texto
@font-face {
    font-family: 'TTHazelnuts';
    src: url('fonts/tt-hazelnuts.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Colores para el tema claro
:root {
    /* Light Theme */
    --color-primary: #3F4B3A;
    --color-secondary: #AABD99;
    --color-tertiary: #b5beac;
    --color-warn: #8f0000;
    --color-accent: #d8e4ce;
    --color-neutral: #dddddd;
    --color-neutral-dark: #020101;

    --color-header: white;
    --color-background: #f1eee7;
    --color-surface: #f4f4f4;
    --color-text: #3F4B3A;

    --navbar-height: 124px;
    --footer-height: 100px;
    --desktop-margin: 20%;
    --desktop-margin-thin: 15%;
    --tablet-margin: 10%;
    --tiny-margin: 5%;
    --phone-margin: 0;


}

.hide-until-translate-loaded {
    visibility: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-primary);
    font-size: 24px;
    font-family: 'TTHazelnuts', Roboto, "Helvetica Neue", sans-serif;

}

h1,
h2,
h3 {
    font-family: 'Della Respira', Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
    /*font-family: 'Gistesy';*/
}

h1 {
    font-size: 50px;
}

.spacer {
    width: 100%;
    height: 30px;
}

.spacer-small {
    width: 100%;
    height: 15px;
}

.spacer-big {
    width: 100%;
    height: 50px;
}

// Recaptcha
.grecaptcha-badge {
    z-index: 3000 !important;
}

// Galleria
.p-galleria .p-galleria-nav-button {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--color-primary);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: background-color 0.3s ease;
    transform: translateY(-20px);
}

.p-galleria .p-galleria-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.4) !important;
    color: var(--color-primary) !important;
}

.p-galleria-content {
    // Hace que las imagenes del slider del home se ajusten al tamaño de la pagina
    width: 100%;
}

.p-galleria .p-galleria-close-button {
    //background-color: rgba(255, 255, 255, 0.2);
    color: var(--color-primary);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 20px;
    right: 20px;
    transition: background-color 0.3s ease;
}

.p-galleria-close-button:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
    color: var(--color-primary) !important;
}

.p-galleria-mask {
    position: absolute;
    top: var(--navbar-height) !important;
    left: 0;
    height: calc(100% - var(--navbar-height)) !important;
    background-color: var(--color-tertiary) !important;
    z-index: 200 !important;

    svg {
        width: 50px !important;
    }

    .p-galleria-nav-button {
        width: 70px;
        height: 70px;
        background-color: rgba(255, 255, 255, 0);
    }

    .p-galleria .p-galleria-nav-button:hover {
        background-color: rgba(255, 255, 255, 0.15) !important;
    }
}

.p-galleria {
    border: 0 !important;
}

// Material

// Color del texto de los campos mat-form
.mat-mdc-form-field-infix {
    label {
        color: var(--color-primary) !important;
    }
}

//Color del fondo de los campos mat-form
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--color-tertiary) !important;
}

.mat-calendar-body-in-range::before {
    background-color: var(--color-tertiary) !important;
}

// Color del botones
.mat-mdc-raised-button:not(:disabled) {
    color: var(--color-neutral) !important;
    background-color: var(--color-primary) !important;
}

.mat-mdc-outlined-button:not(:disabled),
.mat-mdc-button {
    color: var(--color-primary) !important;
    background-color: var(--color-tertiary) !important;
    border-color: var(--color-secondary) !important;
}

.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
}


.mat-mdc-snackbar-surface {
    border-radius: 30px !important;
    text-align: center;
}

.mat-mdc-snack-bar-container {
    margin-bottom: 20px !important;
}

.snackbar-success .mat-mdc-snackbar-surface {
    background-color: var(--color-primary) !important;
    color: var(--color-neutral) !important;

}

.snackbar-error .mat-mdc-snackbar-surface {
    background-color: var(--color-neutral) !important;
    color: var(--color-warn) !important;
}


@media (max-width: 768px) {

    html,
    body {
        font-size: 20px !important;
    }

    .mobile-hide {
        display: none !important;
    }

    .mobile-show {
        display: block !important;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {}

@media (max-width: 1024px) {
    .tablet-hide {
        display: none !important;
    }

    .tablet-show {
        display: block !important;
    }
}

@media (min-width: 1024px) {
    .tablet-show {
        display: none !important;
    }
}